html, 
body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    font-family: 'Source+Sans+3',sans-serif;
    background: #FAFAFA;
}

*, *::before, *::after {
    box-sizing: border-box;
    }

/* * {
    border: 1px solid red;
} */

.hidden {
    display: none;
}

img {
    user-select: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: fixed;
    top: 1%;
    bottom: 99%;
    left: 0;
    right: 0;
    z-index: 1;

    margin: 0 auto;
    width: 50%;
    max-width: 800px;
    height: 5%;
    padding: 0 1em;
    background-color: #1d1d1d;
    border-radius: 5px;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.5rem;
    font-weight: 600;
}

.feature-blog {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    min-height: 40vh;
    width: 100%;
    margin-bottom: 2em;
    padding: 0 1.25em;
    cursor: pointer;
    color: whitesmoke;
}

.blogs-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3em;
    padding: 0 4em 1em;
}

.blog {
    cursor: pointer;
    box-shadow: 2px 2px 5px #303030;
    border-radius: 0.5em;
    
}

.blog:hover,
.blog:active {
    scale: 1.01;
}

.blog-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 0.5em 0.5em 0 0;
}

/* General text design */

header .blog-info,
header .blog-title,
header .blog-paragraph {
    width: 80%;
    text-shadow: 2px 2px #090909;
}

.blog-info,
.blog-title,
.blog-paragraph {
    width: 100%;
    margin: 0.25rem 0 0.6rem 0;
    overflow-wrap: break-word;
    padding: 0.5rem;
}

.blog-info {
    font-size: 0.9rem;
}

.blog-title {
    font-size: 1.25rem;
    font-weight: 700;
}

.blog-paragraph {
    font-size: 0.85rem;
    line-height: 1.5;
}

/* Full Blog */

.fullBlog {
    padding: 1em;
    width: 80%;
    max-width: 1000px;
    margin: 5em auto;
    line-height: 1.5;
}

.fullBlog-img {
    width: 100%;
    
    max-height: 500px;
    object-fit: cover;
    display: block;
    margin: 5em auto;
}

.blog-link {
    color: #141414;
    font-size: 1.2rem;
}

.blog-link:hover,
.blog-link:active {
    color: #285aa7;
}

.recent-posts {
    margin: 2em auto;
    text-align: center;
}


/* Media Querys */
@media (min-width: 600px) {
    nav a {
        font-size: 0.75rem;
    }
}

@media (min-width: 550px) {

    .blog-info,
    .fullBlog-info {
        font-size: 0.75rem;
    }
    
    .blog-title,
    .fullBlog-title {
        font-size: 1.75rem;
    }
    
    .blog-paragraph,
    .fullBlog-paragraph {
        font-size: 1rem;
    }
    
}

@media (min-width: 1270px) {
    .blogs-container {
        display: grid;
        grid-template-columns: repeat(3, minmax(300px, 1fr));
        max-width: 1500px;
        margin: 0 auto;
    }

    .header-text {
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    .blogs-container {
        padding: 0 10px 1em;
        margin: 0 auto;
    }
}